name: Changelog

on:
  pull_request:
    branches:
      - master

jobs:
  changelog:
    runs-on: ubuntu-latest
    # skip this workflow if no-changelog label has been added to the pull request 
    if: ${{ contains( github.event.pull_request.labels.*.name, 'no-changelog') != true }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Check Changelog Updated
      uses: awharn/check_changelog_action@v1
      with:
        header: '## Recent Changes'
        file: 'CHANGELOG.md'
        lerna: true
        ignoreFiles: 'package.json|pnpm-lock.json|*.md'